
GestureDetector/.idea/.name
GestureDetector/.idea/compiler.xml
GestureDetector/.idea/copyright/profiles_settings.xml
GestureDetector/.idea/encodings.xml
GestureDetector/.idea/gradle.xml
GestureDetector/.idea/misc.xml
GestureDetector/.idea/modules.xml
GestureDetector/.idea/runConfigurations.xml
GestureDetector/app/proguard-rules.pro
GestureDetector/app/src/androidTest/java/com/lin/gesturedetector/ApplicationTest.java
GestureDetector/app/src/test/java/com/lin/gesturedetector/ExampleUnitTest.java
GestureDetector/gradle.properties
GestureDetector/gradle/wrapper/gradle-wrapper.jar
GestureDetector/gradle/wrapper/gradle-wrapper.properties
GestureDetector/gradlew
GestureDetector/gradlew.bat
.DS_Store
GestureDetector/.idea/vcs.xml
ScrollScale/.idea/compiler.xml
ScrollScale/.idea/copyright/profiles_settings.xml
ScrollScale/.idea/misc.xml
ScrollScale/.idea/modules.xml
ScrollScale/.idea/runConfigurations.xml
ScrollScale/.idea/vcs.xml
ScrollScale/app/proguard-rules.pro
ScrollScale/app/src/androidTest/java/com/ljf/scrollscale/ExampleInstrumentedTest.java
ScrollScale/app/src/test/java/com/ljf/scrollscale/ExampleUnitTest.java
ScrollScale/gradle.properties
ScrollScale/gradle/wrapper/gradle-wrapper.jar
ScrollScale/gradle/wrapper/gradle-wrapper.properties
ScrollScale/gradlew
ScrollScale/gradlew.bat
ScrollScale/.idea/gradle.xml
EXOPlayer/.idea/misc.xml
EXOPlayer/.idea/gradle.xml
EXOPlayer/.idea/copyright/profiles_settings.xml
EXOPlayer/.idea/compiler.xml
EXOPlayer/.idea/modules.xml
EXOPlayer/.idea/runConfigurations.xml
EXOPlayer/.idea/vcs.xml
EXOPlayer/app/proguard-rules.pro
EXOPlayer/app/src/androidTest/java/com/ljf/exoplayer/ExampleInstrumentedTest.java
EXOPlayer/app/src/test/java/com/ljf/exoplayer/ExampleUnitTest.java
EXOPlayer/gradle.properties
EXOPlayer/gradle/wrapper/gradle-wrapper.jar
EXOPlayer/gradle/wrapper/gradle-wrapper.properties
EXOPlayer/gradlew
EXOPlayer/gradlew.bat
