
*/.idea/*
*/app/proguard-rules.pro
*/app/src/androidTest/*
*/app/src/test/*
*/gradle.properties
*/gradle/wrapper/gradle-wrapper.jar
*/gradle/wrapper/gradle-wrapper.properties
*/gradlew
*/gradlew.bat
.DS_Store
