
GestureDetector/.idea/.name
GestureDetector/.idea/compiler.xml
GestureDetector/.idea/copyright/profiles_settings.xml
GestureDetector/.idea/encodings.xml
GestureDetector/.idea/gradle.xml
GestureDetector/.idea/misc.xml
GestureDetector/.idea/modules.xml
GestureDetector/.idea/runConfigurations.xml
GestureDetector/app/proguard-rules.pro
GestureDetector/app/src/androidTest/java/com/lin/gesturedetector/ApplicationTest.java
GestureDetector/app/src/test/java/com/lin/gesturedetector/ExampleUnitTest.java
GestureDetector/gradle.properties
GestureDetector/gradle/wrapper/gradle-wrapper.jar
GestureDetector/gradle/wrapper/gradle-wrapper.properties
GestureDetector/gradlew
GestureDetector/gradlew.bat
.DS_Store
GestureDetector/.idea/vcs.xml
