*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

/provider/build
/provider/proguard-rules.pro
/provider/*.iml
/provider/src/androidTest
/provider/src/test

/resolver/build
/resolver/proguard-rules.pro
/resolver/*.iml
/resolver/src/androidTest
/resolver/src/test